@page
@model BoutiqueManagement.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetail.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetail.CustomerEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetail.CustomerMobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetail.CustomerMobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetail.Purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetail.Purpose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetail.ArrivedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetail.ArrivedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetail.Staff_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetail.Staff_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomerDetail.Customer_ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
